body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: linear-gradient(to top, #a18cd1 0%, #f8f8f8 100%);
}

header {
    background-color: #F7A5B3;
    padding: 20px 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #FFFFFF;
    font-weight: 700;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 6px auto;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 500;
}

.menu li a:hover {
    color: #F06292;
    text-decoration: underline;
}



section {
    padding: 40px 10%;
    margin: 20px auto;
    max-width: 1200px;
}

.banner {
    background: url('img/pxfuel.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
    height: 50vh;
}

.banner-content {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.nosotros {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.nosotros-img {
    flex: 1;
    
}

.nosotros img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}

.nosotros-info {
    flex: 1;
    padding: 0 20px;
}

.nosotros-info h2 {
    margin-top: 0;
}

.servicios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.servicio {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.servicio-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}

.servicio-info {
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.servicio-info h3 {
    margin-top: 0;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tama침o */
    gap: 10px; /* Espacio entre im치genes */
}

.galeria img {
    width: 100%;
    height: 200px; /* Establece una altura fija para las im치genes */
    object-fit: cover; /* Ajusta la imagen para cubrir el 치rea del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
}


.carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.carousel img {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.map {
    margin-top: 20px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

#contacto {
    text-align: center;
    padding: 40px 10%;
    background-color: #F7A5B3;
    border-radius: 8px;
}

#contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

#contacto p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #FFFFFF;
}


footer {
    background-color: #F06292;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}